body{
    background-color: black;
    display: flex;
    flex-direction: column;
}
p,h1,h2{
    color: aliceblue;
}
#topsection{
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 45vw;
    height: 100px;
}
h1{
    text-align: center;
    grid-column:1/4;
    font-size: 20px;
}
h2{
    text-align: center;
    font-size: 12px;
}
.logos{
    max-width: 100px;
    max-height: 100px;
}
.album{
    justify-content:space-between;
    max-width: 200px;
}
.popup{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 200px;
    max-height: 20px;
    font-size: 12px;
}
button{ 
    max-width:75px;
    max-height: 20px;
    font-size: 12px;
}