body{
    background-color: black;
    display: flex;
    flex-direction: column;
}
p,h1,h2{
    color: aliceblue;
}
#topsection{
    display: flex;
    flex-direction: row;
    width: 95vw;
    justify-content: space-between;
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 45vw;
    height: 100px;
}
h1{
    text-align: center;
    grid-column:1/4;
    font-size: 20px;
}
h2{
    text-align: center;
    font-size: 12px;
}
main{
    display: flex;
    flex-direction: column;
}
#textbox{
    grid-column: 1/3;
    margin: auto;
    padding: 2px;
    height: auto;
    width: 300px;
    background-color: rgb(100, 26, 170);
    text-align: center;
    border-radius: 5px;
}
.logos{
    max-width: 100px;
    max-height: 100px;

}
.album{
    justify-content:space-between;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 250px;
    height: 250px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 5px;
}
.album:hover .popup{
    display: grid;
}
#samba{
    background-image: url(./bilder/wsamba.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#forest{
    background-image: url(./bilder/wforest.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#utopia{
    background-image: url(./bilder/wutopia.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#puppets{
    background-image: url(./bilder/wmaster.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#ghosts{
    background-image: url(./bilder/wghosts.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#theory{
    background-image: url(./bilder/wtheory.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.art{
    max-width: 250px;
    max-height: 250px;
}
.popup{
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 180px;
    width: 250px;
    max-height: 70px;
    font-size: 12px;
    background:rgba(255, 255, 200, .8);
    
    
}
p{
    color: black;
}
#shoppingvagn{
    background-color: black;
    height: 100px;
    width: 100px;
}
.cart{ 
    max-width:75px;
    max-height: 20px;
    font-size: 12px;
    border-radius: 5px;
}
aside{
    background-color:rgb(100, 26, 170);
    display: none;
    width: 250px;
    min-height: 500px;;
    margin: auto;
    border-radius: 5px;
    margin-top: 40px;
    grid-template-rows: 5fr 1fr;
}
li{
    margin:5px;
}
ul{
    list-style-type: none;

}
#save{
    height: 40px;
    width: 90px;
    font-size: 12px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 5px;
}


@media screen and (min-width: 641px){
    body{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #topsection{
        grid-column: 1/4;
    }
    main{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 65vw;
        grid-column: 1/3;
    }
    .album{
        width: 350px;
        height: 350px;
    }
    .popup{
        width: 350px;
    }
    aside{
        grid-column: 3/4;
        display: grid;

    }
}